@{
    ViewData["Title"] = "The Bookstore";
}

<div class="text-center bg-dark-subtle rounded-2 p-3">
    <h1 class="display-4">Welcome to The Bookstore!</h1>
   @* <a href="/book/index"><h2>Please browse the titles in our gallery:</h2></a> *@

</div>
